ion-content ion-toolbar {
  --background: translucent;
}
.modelo img{
    width: 100%;
}
.option{
  background-color: #f62c3a;
  color:#fff;
  margin: 30px;
  padding: 15px;
  font-size: 25pt;
  max-width: 100px;
  height: 90px;
  font-weight: bold;
}
.second-right{
  margin-left: -15px;
}
.ion-icon{
  font-weight: bold;
}
.color-bar img{
  position: absolute;
  margin-top:-50px;
}
.contato{
  text-align: center;
}
.contato h1{
  padding: 5px;
  background-color:#f62c3a;
  color:#fff;
  font-size: 32pt;
  width: 800px;
  margin: auto;
  margin-top: 25px;
}
.contato h2{
  padding: 5px;
  background-color:#9e0d16;
  color:#fff;
  font-size: 30pt;
  width: 500px;
  margin: auto;
}
.contato h3{
  color: gray;
}