<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Banco 24 horas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>

    <ion-row>

      <ion-col class="bank caixa" size="6">

        <div>
          <img src="assets\img\caixa-logo-no-bg.png" alt="">
        </div>

      </ion-col>

      <ion-col class="bank bradesco" size="6">

        <div>
          <img src="assets\img\bradesco-no-bg.png" alt="">
        </div>

      </ion-col>

    </ion-row>
    
  </ion-grid>
  
  
</ion-content>
