<ion-content>

  <ion-grid class="sacar" *ngIf="mostraValores">
    <div class="conter">
      <ion-row class="ion-justify-content-start top">

        <ion-col size="6" class="title">
          <div>
            Quanto Deseja Sacar ?
          </div>
        </ion-col>

        <ion-col size="6" class="saldo">
          <div>
            Saldo na carteira: R$ 250.00
          </div>
        </ion-col>

      </ion-row>
      <hr>

      <div *ngIf="!retirarDinheiro">
        <ion-row class="ion-justify-content-center valores" *ngFor="let item of valoresSaque">
          <ion-col size="6" (click)="sacar()">
            <div>
              {{item.valor}}
            </div>
          </ion-col>
          <ion-col size="6">
            <div class="right" (click)="sacar()">
              {{item.valor2}}
            </div>
          </ion-col>
        </ion-row>
      </div>

      <ion-row *ngIf="retirarDinheiro">
        <ion-col size="12">
          <div align="center">
            <h1>Retire o seu dinheiro</h1>
          </div>
        </ion-col>
      </ion-row>

    </div>
  </ion-grid>


  <!-- ========== Tela de leitura de Qr Code ============== -->
  <ion-grid class="bg" *ngIf="!mostraValores">
    <ion-row>
      <ion-col size="8">
        <div>

          <ion-row>
            <ion-col class="link-pay-logo" size="12">
              <div>
                <img src="assets/img/linkpay-logo.png" alt="">
              </div>
            </ion-col>
            <ion-col size="12">
              <div>
                <h1>1. Abra o LinkPay no seu celular</h1>
              </div>
            </ion-col>

            <ion-col size="12">
              <div>
                <h1>2. Toque em "saque facil" e depois em continuar</h1>
              </div>
            </ion-col>

            <ion-col size="12">
              <div>
                <h1>3. Aponte o celular para essa tela para capturar o código</h1>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col class="code" size="4">
        <div>
          <div>
            <qr-code [value]="valorIDQrcode" [size]="300" [padding]="12"></qr-code>
          </div>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>