.bg{
    background: #2e4eff;
    padding: 17%;
    // background: linear-gradient(90deg, rgba(127,148,255,1) 0%, #2e4eff 79%);
}
.qr-code img{
    padding: 15px;
    margin: auto;
}
.link-pay-logo img{
    height: 70px;
    width:auto ;
}
ion-row{
    color: #fff;
}
.on-grid{
    // padding: 20%;
    margin: auto;
}
.code {
    
}