ion-content{
    --background: #2e4eff !important;
}

.bg{
    background: #2e4eff;
    padding: 10% 17%;
    // background: linear-gradient(90deg, rgba(127,148,255,1) 0%, #2e4eff 79%);
}
.qr-code img{
    padding: 15px;
    margin: auto;
}
.link-pay-logo img{
    height: 70px;
    width:auto ;
}
ion-row{
    color: #fff;
}
.on-grid{
    margin: auto;
}

.sacar{
     background-color: #2e4eff;
     
    }
.conter{
    max-width: 900px;
    margin: auto;
}
.valores{
    margin-bottom: 70px;
    font-size: 30pt;
    font-weight: bold;
}
.title{
    margin-top: 30px;;
    font-size: 24pt;
    padding-left: 5px;
    font-weight: bold;
    text-align: left;
    border-left:#2e4eff 3px solid;
    
}
.saldo{
    text-align: right;
    margin-top: 30px;;
    font-size: 20pt;
    padding-left: 5px;
    font-weight: bold;
   
}
.right{
    text-align: right;
}

hr{
    border-bottom: #fff 2px solid;
    margin-bottom: 30px;
}

.top{
    background-color: #1e31a0;
    border-radius: 15px;
    padding: 15px;
}